@using BulletinBoard.Models
@using BulletinBoard.Utils
@model PostViewModel
@{
    ViewData["Title"] = "View Post";
    int repliesCount = (Model.Replies == null)
    ? 0 : Model.Replies.Count;
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 py-2">
            <div class="card p-xs-2 p-sm-2 p-md-2 p-lg-2">
                <h4 class="card-title">@Model.Post!.Text</h4>
                <h6 class="card-subtitle text-muted">@Model.Post.SubmitTime</h6>
                <p class="card-text p-y-1">by @Model.Post.User!.DisplayName</p>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
            <form asp-controller="Post" asp-action="Index" method="post">
                <input type="hidden" asp-for="Post!.Id" />
                <h2>Write a Comment:</h2>
                <textarea class="form-control my-2" type="text" name="NewReply" rows="2"></textarea>
                @if (ViewData[ViewDataKeys.Reply] != null)
                {
                    <span class="text-danger">@ViewData[ViewDataKeys.Reply]</span>
                }
                <div class="form-group">
                    <input type="submit" value="Submit" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
    @if (repliesCount == 0)
    {
        <div class="row justify-content-center">
            <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
                <h6 class="text-center text-muted p-2">No Comment to show...</h6>
            </div>
        </div>
    }
    @for (int i = repliesCount - 1; i >= 0; i--)
    {
        <div class="row justify-content-center">
            <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 py-2">
                <div class="card p-xs-2 p-sm-2 p-md-2 p-lg-2">
                    <h5 class="card-title">@Model.Replies![i].Text</h5>
                    <h6 class="card-subtitle text-muted">@Model.Replies![i].SubmitTime</h6>
                    <h6 class="card-text p-y-1">by @Model.Replies![i].User!.DisplayName</h6>
                </div>
            </div>
        </div>
    }
</div>